{% extends 'base.html' %}
{% block title %}Productos Registrados{% endblock %}
{% load static %}
{% block titulo_principal %}Lista de productos Registrados{% endblock %} 
{% block content %} 
{% if object_list %}

<table class="table table-hover col-md-12">
    <thead class="thead-dark">
        <tr>
            <th>Categoria</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for producto in object_list %}
        <tr>
            <th scope="row">{{ producto.categoria }} </th>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td><img src="{% static producto.imagen.url %}" width="200" height="auto"/></td>
            <td>${{ producto.precio }}</td>

            <td><a class="btn btn-primary" href="{% url 'edit_producto' producto.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'del_producto' producto.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<div class="text-center col-md-12">
    <h3>No hay registros de productos</h3>
</div>
{% endif %} {% endblock %}