{% extends 'base.html' %}
{% block title %}Productos{% endblock %} 
{% block titulo_principal %}Productos{% endblock %} 
{% load static %} 
{% block content %} 

<div class="col-md-2" style="margin-bottom:10px;"> 
<a href="{% url 'buscar_productos' %} "><button class="btn btn-primary form-control">Buscar producto</button></a>
</div>
<div class="col-md-5">
</div>
<div class="col-md-5">
</div>
{% if object_list %}

{% for producto in object_list %}

        <div class="thumbnail text-center col-md-4 card">
            <img src="{% static producto.imagen.url %}" width="200" height="auto" />
            <div class="caption">
                <h4 class="text-left">{{ producto.nombre }}</h4>
                <p class="text-left"> {{ producto.descripcion }}</p>
                <h6>${{ producto.precio }}<h6>
            </div>
        </div>

{% endfor %} {% else %}
<h1>No hay registros de productos</h1>
{% endif %} {% endblock %}