{% extends 'base.html' %} 
{% load static %}
{% block title %}Recuperar contraseña{% endblock title %} 
{% block titulo_principal %}Recuperar contraseña{% endblock %}
{% block content %}

<div id="contraseña" class="container col-md-4">
    <form method="POST" id="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_email">Correo</label>{{form.email}}
            <input class="btn" type="submit" value="Enviar"/>
        </div>

    </form>
</div>




{% endblock %}