{% extends 'base.html' %}
{% load static %}
{% block title %}Contacto{% endblock title %} 
  
{% block content %}


<br>
<hr>
<h2 class="text-center">Contáctanos</h2>
<hr>
<br>
<div class="row">
    <div class="col-md-4  d-none d-md-block ">
        <img class="img-fluid float-right" src="{% static 'images/img/1right-form.jpg' %} " alt="abeja en flor">
    </div>
    <div class="col-md-4">
        <form id="id_formulario" action="#" method="POST">

            <div class="item-formulario form-group">
                <label for="id_txtNombre">
                            Nombre Completo:
                        </label>
                <input class="input form-control" type="text" name="txtNombre" value="" required="" placeholder="Ingrese su nombre completo" id="id_txtNombre" onkeydown="return alphaOnly(event)" />
            </div>

            <div class="item-formulario form-group">
                <label for="id_txtRut">
                            Rut:
                        </label>
                <input class="input form-control" type="text" name="txtRut" value="" required="" placeholder="Ejemplo:11111111-1" id="id_txtRut" onblur="onRutBlur(txtRut)" oninput="checkRut(this)" />
            </div>

            <div class="item-formulario form-group">
                <label for="id_txtEmail">
                            Email:
                        </label>
                <input class="input form-control" type="email" name="txtEmail" value="" required="" placeholder="Ingrese su email" id="id_txtEmail" />
            </div>

            <div class="item-formulario form-group">
                <label for="id_txtMovil">
                            Telefono movil:
                        </label>
                <input class="input form-control" type="tel" name="txtMovil" value="" required="" placeholder="Ingrese su telefono movil" id="id_txtMovil" onkeydown="return isNumberKey(event)" />
            </div>

            <div class="item-formulario form-group">
                <label for="id_cmbAsunto">
                            Asunto:
                        </label>
                <select class="input form-control" name="cmbAsunto" id="id_cmbAsunto">
                            <option value="asunto">Consulta</option>
                            <option value="asunto">Reclamo</option>
                            <option value="asunto">Sugerencia</option>
                            <option value="asunto">Otros</option>
                        </select><br>
            </div>
            <div class="item-formulario form-group">
                <label for="id_txtMensaje">
                            Mensaje:
                        </label>
                <textarea class="input form-control" name="txtMensaje" id="id_txtMensaje" required="" cols="20" rows="10" placeholder="Escriba aqui .."></textarea>
            </div>
            <button class="form-control btn btn-primary" type="button" id="boton" value="Enviar" name="btnEnviar">Enviar</button>

        </form>
    </div>

    <div class="col-md-4 d-none d-md-block">
        <img class="img-fluid" src="{% static 'images/img/2right-form.jpg' %}" alt="abeja en flor">
    </div>
</div>


{% endblock content %}